header{
    background-color: #008000;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;

    .h1{
        color:$color-font1;
    }
    
    .header_size-image{
        width: 100%;
    }
    

    .header_logo{
        width: 200px;
        height: 50px;
    }
    
    .header_nav{
        display: flex;
        justify-content: space-between;
    
    }
    
    .header_nav-list{
        display: flex;
        list-style: none;
        padding: 1px;
        /*
        border:solid 1px;
        border-radius: 10px;
        */
    }
    
    .header_nav-list li{
        margin: 10px;
        padding: 5px;
    }
    
    
}



 










