//$color-main: green;
//$color-font1:white;

$width-full: 100%;

//aplicando maps
 $map-color: (
    color-main: greenyellow,
    color-font1:white,
    color-font2:green,

 );

 //aplicando extend
 %extend_flex {
    display: flex;
    justify-content: space-between;

}

